# Environment & secrets
.env
todo.md

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/

# IDE/editor
.vscode/
.idea/

# OS files
.DS_Store

# HuggingFace cache & local models
.hf_cache/
models/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Logs
logs/
